/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color:  #ffffff;
}

body,
input{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333333;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Home starts here*/
.home{
    height: 100vh;
    width: 100%;
  }
  .home-details{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    display: grid;
    justify-items: center;
    width: 100%;
    row-gap: 4rem;
  }
  
  .homeSubtitle{
    text-align: center;
    font-size: 1.6rem;
    color:  #FFF;
  }
  .homeTitle{
    text-align: center;
    font-size: 4rem;
    color:  #FFF;
    font-weight: 600;
  }
  .home-img{
    height: 100vh;
    width: 100%;
  }
  /* Home ends here*/
 
  .container {
    border-radius: 10px;
    background-color: #8a8ec5;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    margin-top: 5%;
  }
  /*post form ends here*/
legend{
  font-size: 20px;
}
   /*search starts here*/
   .blog-list-container {
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
  .blog-list-container h2 {
    font-size: 30px;
    border-left: 10px solid #52b788;
    border-right: 10px solid #52b788;
    padding-left: 30px;
    gap:  20px;
    font-weight: bold;
    line-height: 3.5;
    letter-spacing: -0.05em;
    text-align: left;
    width: calc(100% / 1);
    float: none;
    text-align: justify;
  }
  
  /*search ends here*/

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    border-radius: 15px;
   
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #ccc;
    color: black;
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
    
  }
 /* When moving the mouse over the submit button*/
 input[type=submit]:hover {
  background-color: #C87E4F;
}
/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #ccc;
  color: black;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: -80px;
  margin-bottom: 50px;
  margin-left: 810px;
  transform: translateX(-50%);
  
}
/* When moving the mouse over the submit button*/
button[type=submit]:hover {
background-color: #C87E4F;
}
/* Tablet view */
@media screen and (max-width: 768px) {
  button[type=submit] {
      margin-left: 50%; /* Center the button horizontally */
      margin-right: -100px;
      transform: translateX(-50%); /* Center the button horizontally */
      width: calc(100% - 40px); /* Take up full width with margins */
      margin-top: 20px; /* Adjust margin for tablet view */
      margin-bottom: 20px; /* Adjust margin for tablet view */
  }
}

/* Mobile view */
@media screen and (max-width: 480px) {
  button[type=submit] {
      margin-left: 50%; /* Center the button horizontally */
      transform: translateX(-50%); /* Center the button horizontally */
      width: calc(100% - 40px); /* Take up full width with margins */
      margin-top: 20px; /* Adjust margin for mobile view */
      margin-bottom: 20px; /* Adjust margin for mobile view */
  }
}
  